@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200&family=Montserrat&family=Roboto:wght@300&display=swap');


.generate-button{
    height: 33px;
  
    border-radius: 30px;
    padding: 15px   20px  30px ;
    background: #27AE60;
    border: none;
    color: white;
    text-transform: uppercase;
    font-family :"Roboto";
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 30px;
}

.menu-bar{
    position: relative;
    top: 20px;
}